<%- include('./header.ejs') %>

        <main>
            <h2>Strona główna</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto nulla cum esse quas odio nam illo perferendis. Eius temporibus excepturi aliquam magnam eos dolorum nobis ducimus similique, voluptatem velit eligendi.
            </p>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Saepe, possimus iure qui tenetur libero officia, voluptatum fuga tempora ea assumenda eligendi nulla placeat rem nostrum, commodi culpa. Ratione, voluptate aut?
            </p>
        </main>

<%- include('./footer.ejs') %>
