<%- include('../header.ejs') %>
    <main>
        <h2>Lista pojazdów</h2>
    <table class="table-list">
    <thead>
        <tr>
            <th>Marka</th>
            <th>Rejestracja</th>
            <th>Przebieg</th>
            <th>Akcje</th>
        </tr>
    </thead>
    

    <tbody>
        <tr>
            <td>Alfa Romeo</td>
            <td>WY 13920</td>
            <td>192564 km</td>
            <td>
                <ul class="list-actions">
                    <li>
                        <a href="/car/details/:1" class="list-actions-button-details">Szczegóły</a>
                    </li>
                    <li>
                        <a href="/car/edit/:1" class="list-actions-button-edit">Edytuj</a>
                    </li>
                    <li>
                        <a href="" class="list-actions-button-delete">Usuń</a>
                    </li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>Audi</td>
            <td>WGM 20139</td>
            <td>322564 km</td>
            <td>
                <ul class="list-actions">
                    <li>
                        <a href="../pages/car-info.html" class="list-actions-button-details">Szczegóły</a>
                    </li>
                    <li>
                        <a href="" class="list-actions-button-edit">Edytuj</a>
                    </li>
                    <li>
                        <a href="" class="list-actions-button-delete">Usuń</a>
                    </li>
                </ul>
            </td>
        </tr>
        <!-- Tu wstaw dodatkowe wiersze -->
    </tbody>
    </table>

    <p><a href="/car/add" class="button-add">Dodaj nowy pojazd</a></p>
</main>
    <footer>
        Krzysztof Baka, s16696
    </footer>
    
</body>
</html>