<%- include('../header.ejs') %>
    <script type="application/javascript" src="/js/validationRepairForm.js"></script>
    <script type="application/javascript" src="/js/validationCommon.js"></script>
    <main>
        <h2>
            Dodaj nową naprawę
        </h2>
        <form class="form" novalidate onsubmit="return validateForm();">   

        <label for="damage">Opis uszkodzenia: <abbr title="required" aria-label="required">*</abbr></label>
        <input type="text" name="damage" id="damage" placeholder="10-300 znaków"/>
        <span id="errorRepairDamage" class="errors-text"></span>


        <label for="date">Data: <abbr title="required" aria-label="required">*</abbr></label>
        <input type="date" name="date" id="date"/>
        <span id="errorRepairDate" class="errors-text"></span>

        <label for="price">Koszt: <abbr title="required" aria-label="required">*</abbr></label>
        <input type="number" name="price" id="price">
        <span id="errorRepairPrice" class="errors-text"></span>


        <label>Mechanik:</label>
        <select name="mechanic">
            <option>Kowalski</option>
            <option>Nowak</option>
        </select>
        <span class="errors-text"></span>


        <label>Wybierz pojazd (Rejestracja):</label>
        <select name="car">
            <option>WY 13920</option>
            <option>WGM 20139</option>
        </select>
        <span class="errors-text"></span>

    <div class="form-buttons">
    <p id="errorsSummary" class="errors-text"></p>
    <input type="submit" value="Dodaj" class="form-button-submit form-buttons"/>
    <a href="/repair" class="form-button-cancel">Anuluj</a>  
    </div>
</form>

</main>
<%- include('../footer.ejs') %>