<%- include('../header.ejs') %>

    <script type="application/javascript" src="/js/validationRepairForm.js"></script>
    <script type="application/javascript" src="/js/validationCommon.js"></script>
    <main>
        <h2>
            Aktualizuj dane
        </h2>
        <form class="form" novalidate onsubmit="return validateForm();">   

        <label for="damage">Opis uszkodzenia: <abbr title="required" aria-label="required">*</abbr></label>
        <input type="text" name="damage" value="Uszkodzona chłodnica" id="damage"/>
        <span id="errorRepairDamage" class="errors-text"></span>


        <label for="date">Data: <abbr title="required" aria-label="required">*</abbr></label>
        <input type="date" name="date" value="2020-10-24" id="date"/>
        <span id="errorRepairDate" class="errors-text"></span>

        <label for="price">Koszt: <abbr title="required" aria-label="required">*</abbr></label>
        <input type="number" name="price" value="1760" id="price">
        <span id="errorRepairPrice" class="errors-text"></span>


        <label>Mechanik: <abbr title="required" aria-label="required">*</abbr></label>
        <select name="mechanic">
            <option>Kowalski</option>
            <option>Nowak</option>
        </select>
        <span class="errors-text"></span>

        <label>Wybierz pojazd: <abbr title="required" aria-label="required">*</abbr></label>
        <select name="idr">
            <option>WY 13920</option>
            <option>WGM 20139</option>
        </select>
        <span class="errors-text"></span>

    <div class="form-buttons">
    <p id="errorsSummary" class="errors-text"></p>
    <input type="submit" value="Aktualizuj" class="form-button-submit form-buttons"/>
    <a href="/repair" class="form-button-cancel">Anuluj</a>  
    </div>
</form>

</main>
<%- include('../footer.ejs') %>